@page "{CategoryName?}"
@model WebApp.Pages.Loans.IndexModel

@{
    ViewData["Title"] = "Loans";
    ViewData["Path"] = Request.Path;
    bool listHasData = Model.LoanListViewModel is not null && Model.LoanListViewModel?.Loans.Count > 0 && Model.LoanListViewModel.Loans is not null;

    List<ViewModels.LoanViewModel> loanTableModel = Model.LoanListViewModel!.Loans!;

}

<div class="row">
    <div class="col-12 d-flex justify-content-end align-items-center">
        <a asp-page="Create" class="btn btn-outline-primary my-3">Add loan</a>
    </div>
    <div class="col">
        @if (listHasData)
        {
            <div class="card card-primary card-outline mb-3">
                <div class="card-body">
                    <partial name="_LoanTablePartial" model="loanTableModel" />
                </div>
            </div>
        }
        else
        {
            <div class="card card-primary card-outline mb-3">
                <div class="body">
                    <div class="text-center d-flex flex-column py-5">
                        <h5 class="h5 text-center">Loans</h5>
                        <p class="lead">No Loans at this time.</p>
                        <a asp-page="/Loans/Create" class="text-decoration-none fs-6 fw-light">Create loan</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
