<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Loan Payments Manager</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/icheck-bootstrap//icheck-bootstrap.min.css" asp-append-version="true" />
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/fontawesome-free/css/all.min.css" asp-append-version="true" />
    <!-- Theme styles -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="hold-transition login-page">
    <div class="login-box">

        @RenderBody()

    </div>
    <!-- /.login-box -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
