<div class="d-flex flex-column justify-content-center align-items-end fst-italic">
    <span class="badge rounded-pill bg-success fw-light shadow">Loan Payments</span>
    <span class="badge rounded-pill bg-success fw-lighter shadow">Manager</span>
</div>