@page "{loanId}"
@model WebApp.Pages.Installments.CreateModel

@{
    ViewData["Title"] = "Create Installment";
    ViewData["Path"] = Request.Path;
}

<div class="row row-cols-md-2">
    <div class="col-md-4">
        <ul class="list-group">
            @if (Model.LoanId.HasValue)
            {
                <li class="list-group-item">
                    <a asp-page="/Loans/Details" asp-route-ID="@Model.LoanId" class="text-decoration-none fs-6 fw-light">Back to loan [@(Model.InstallmentCreateViewModel.Installment.Loan!.LoanNumber)]</a>
                </li>
            }
            <li class="list-group-item">
                <a asp-page="Index" class="text-decoration-none fs-6 fw-light">Back to installments</a>
            </li>
        </ul>
    </div>
    <div class="col-md-8">
        <form method="post">
            <div class="row">
                <div class="col-12">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            </div>
            <div class="card card-primary card-outline mb-3">
                <div class="card-header bg-white">
                    <h2 class="card-title h4 fw-lighter">Installment</h2>
                </div>
                <div class="card-body">
                    <input type="hidden" asp-for="LoanId" class="form-control" />
                    <div class="row">
                        <div class="col-md-12">
                            <label asp-for="InstallmentCreateViewModel.Installment.InstallmentNumber" class="form-label"></label>
                            <input readonly asp-for="InstallmentCreateViewModel.Installment.InstallmentNumber" class="form-control" />
                            <span asp-validation-for="InstallmentCreateViewModel.Installment.InstallmentNumber" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label asp-for="InstallmentCreateViewModel.Installment.PaymentNumber" class="form-label"></label>
                            <input readonly asp-for="InstallmentCreateViewModel.Installment.PaymentNumber" class="form-control" />
                            <span asp-validation-for="InstallmentCreateViewModel.Installment.PaymentNumber" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label asp-for="InstallmentCreateViewModel.Installment.DateDue" class="form-label"></label>
                            <input asp-for="InstallmentCreateViewModel.Installment.DateDue" class="form-control" />
                            <span asp-validation-for="InstallmentCreateViewModel.Installment.DateDue" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="InstallmentCreateViewModel.Installment.Amount" class="form-label"></label>
                            <input asp-for="InstallmentCreateViewModel.Installment.Amount" class="form-control" />
                            <span asp-validation-for="InstallmentCreateViewModel.Installment.Amount" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="InstallmentCreateViewModel.Installment.BalanceAfterInstallment" class="form-label"></label>
                            <input asp-for="InstallmentCreateViewModel.Installment.BalanceAfterInstallment" class="form-control" />
                            <span asp-validation-for="InstallmentCreateViewModel.Installment.BalanceAfterInstallment" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="InstallmentCreateViewModel.Installment.PercentagePenaltyFeePerDayOverDue" class="form-label"></label>
                            <input asp-for="InstallmentCreateViewModel.Installment.PercentagePenaltyFeePerDayOverDue" class="form-control" />
                            <span asp-validation-for="InstallmentCreateViewModel.Installment.PercentagePenaltyFeePerDayOverDue" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row py-2">
                        <div class="col-md-6">
                            <input type="submit" value="Create" class="form-control btn btn-primary" />
                        </div>
                        <div class="col-md-6">
                            @if (Model.LoanId is not null)
                            {
                                <a asp-page="/Loans/Details" asp-route-ID="@Model.LoanId" class="btn btn-outline-primary w-100">Cancel</a>
                            }
                            else
                            {
                                <a asp-page="Index" class="btn btn-outline-primary w-100">Cancel</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
