@page "{CategoryName?}"
@model WebApp.Pages.Installments.IndexModel

@{
    ViewData["Title"] = "Installments";
    ViewData["Path"] = Request.Path;
    bool listHasData = Model.InstallmentListViewModel is not null && Model.InstallmentListViewModel.Installments.Count > 0 && Model.InstallmentListViewModel.Installments is not null;
    List<ViewModels.InstallmentViewModel> installmentsTableModel = Model.InstallmentListViewModel!.Installments!;
}
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="d-flex justify-content-end align-items-center">
            <a asp-page="/Loans/Create" class="btn btn-outline-primary my-3">Create loan</a>
        </div>
        <div class="row">
            <div class="col">
                @if (listHasData)
                {
                    <div class="card card-primary card-outline mb-3">
                        <div class="card-body">
                            <partial name="_InstallmentTablePartial" model="installmentsTableModel" />
                        </div>
                    </div>
                }
                else
                {
                    <div class="card card-primary card-outline  mb-3">
                        <div class="body">
                            <div class="text-center d-flex flex-column py-5">
                                <h5 class="h5 text-center">Installments</h5>
                                <p class="lead">No installments at this time. Start by creating a loan to add installments.</p>
                                <a asp-page="/Loans/Create" class="text-decoration-none fs-6 fw-light">Create loan</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content -->